<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstzone.dept">

<!-- 이부분은 칼럼이름과 DTO filed이름이 다른 경우 resultMap 정의 -->
<!-- <resultMap id="deptResult" type="deptDTO">
       <result property="department_id" column="department_id" />
       <result property="department_name" column="department_name" />
       <result property="manager_id" column="manager_id" />
       <result property="location_id" column="location_id" />
</resultMap> -->



<!-- Mybatis가 select결과를 읽어서 resultType 객체를 생성(기본생성자필수)하고 setting한다.(setter필수) -->
<select id = "selectAll" resultType="deptDTO">
	select * from departments order by department_id asc
</select>

<select id="selectById" parameterType="int" resultType="deptDTO">
	select * from departments where department_id=#{aa}
</select>

<insert id="insert" parameterType="deptDTO">
	insert into departments(department_id, department_name, manager_id, location_id) 
	values(#{department_id},${department_name},#{manager_id},#{location_id})
</insert>

<select id="update" parameterType="deptDTO">
	update departments set 
	department_name=${department_name},
	manager_id=#{manager_id},
	location_id=#{location_id} 
	where department_id=#{department_id}
</select>

<select id="delete" parameterType="int" >
	delete from departments where department_id=#{id}
</select>

</mapper>
