<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
	org.springframework.web.filter.CharacterEncodingFilter
	</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <!-- Application당 하나의 ServletContext의 파라메터
  모든 context에서 공유 가능하다.
    -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
		/WEB-INF/spring/root-context-tx.xml
		/WEB-INF/spring/root-context-oracle.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- DispatcherServlet : FrontController이다.
  servlet-context.xml에서만 사용되어진다.
  ViewResolver, Interceptor, MultipartResolver객체를 생성하고
  웹과 관련된 어노테이션 Controller,RestController를 스캔한다.
   -->
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
			/WEB-INF/spring/appServlet/servlet-context.xml
			/WEB-INF/spring/appServlet/servlet-context-no.xml
			</param-value>
    </init-param>
    
    <!-- 예외에 대한 처리가 되어있는 Handler가 없다면 예외를 강제로 발생-->
    <init-param>
      <param-name>throwExceptionIfNoHandlerFound</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginChkFilter</display-name>
    <filter-name>LoginChkFilter</filter-name>
    <filter-class>com.shinhan.spring.filter.LoginChkFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginChkFilter</filter-name>
    <url-pattern>/LoginChkFilter</url-pattern>
  </filter-mapping>
  
  
</web-app>